<!-- brentyi@berkeley.edu -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" />
  </head>
  <body>

    <!-- Header -->
    <header>
      <div class="inner wide">
        <div id="site_logo">{{site.title}}</div>
        <nav>
          <ul>
          {%- assign pages = site.pages | sort: 'order' -%}
          {%- for p in pages -%}
          {%- if p.layout == 'page' -%}
          {%- if page.url == p.url -%}
          <li class="active"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {%- else -%}
          <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
          </ul>
        </nav>
      </div>
    </header>

    <!-- Content -->
    {{ content }}

    {%- if site.matomo_url -%}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      // tracker methods like "setCustomDimension" should be called before "trackPageView"
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        let u="//{{ site.matomo_url }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{{ site.matomo_site_id }}']);
        let d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    {%- endif -%}
  </body>
</html>
